.footer {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  justify-content: center;
}

.footer__title {
  color: var(--white);
  font-size: 20px;
}

.footer__title img {
  width: 50px;
}
