.container {
  box-sizing: border-box;
  padding-top: 125px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s all ease-in-out;
}

.card {
  margin: 0 40px;
  display: flex;
  position: absolute;
  align-self: center;
  border-radius: 15px;
  gap: 40px;
}

.card img {
  box-sizing: border-box;
  width: 647px;
  height: 333.58px;
  border-radius: 15px;
  border: 5px solid #6bd1ff;
  box-shadow: inset 0 0 17px 8px #6bd1ff;
  object-fit: cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrapper__title {
  width: 296.82px;
  height: 92px;
  box-sizing: border-box;
  background-color: #6bd1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.wrapper__title h2 {
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 56.25px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper__content h3 {
  margin: 0;
  font-weight: 400;
  font-size: 46px;
  line-height: 53.91.91;
}

.wrapper__content p {
  margin: 0;
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
}

.banner__layer {
  box-sizing: border-box;
  top: 125px;
  position: absolute;
  width: 100%;
  height: calc(100% - 125px);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: -1;
  transition: 0.2s all ease-in-out;
}

.banner__gradient {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 18, 51, 0.56);
  transition: 0.2s all ease-in-out;

}

@media (max-width: 1024px) {
  .container {
    margin-top: 125px;
    padding: 0;
    height: 590px;
    justify-content: flex-end;
  }

  .card {
    margin: 0 28px;
    top: 334px;
    height: 269.79px;
    align-items: flex-end;
  }

  .card img {
    width: 459.37px;
    height: 236.55px;
  }

  .wrapper {
    height: 100%;
    justify-content: space-between;
  }

  .wrapper__title {
    width: 282px;
    height: 65px;
  }

  .wrapper__title h2 {
    font-size: 32px;
    line-height: 37.5px;
  }

  .wrapper__content h2 {
    font-size: 32px;
    line-height: 37.5px;
  }

  .banner__layer {
    top: 0;
    position: relative;
    height: 590px;
  }

  .banner__gradient {
    height: 590px;
  }
}
