.header {
  box-sizing: border-box;
  background-color: var(--dark-grey);
  position: fixed;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid var(--blue);
  padding: 0 40px;
  top: 0;
  z-index: 100;
  transition: 0.2s all ease-in-out;
}

.logo {
  width: 168.45px;
  height: 40px;
}

.buttons {
  display: flex;
  gap: 25px;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 20px;
  }
}
