.container {
  width: 100%;
  height: max-content;
  margin-bottom: 93px;
}

.content {
    margin: 0 45px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 93px;
}
