.form {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.form form {
    background-color: #F6F6F6;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 8px 100px;
    flex: 1;
}

.form h2 {
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}